In [2]:
# load libraries
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
import pandas as pd

In [3]:
# load train and test datasets
train = ['The sky is blue.','The sun is bright.']
test = ['The sun in the sky is bright', 'We can see the shining sun, the bright sun.']

In [4]:
# instantiate the vectorizer object
countvectorizer = CountVectorizer(analyzer='word', stop_words='english')
tfidfvectorizer = TfidfVectorizer(analyzer='word', stop_words='english')

In [7]:
# convert the documents into a matrix
count_wm = countvectorizer.fit_transform(train)
tfidf_wm = tfidfvectorizer.fit_transform(train)

In [21]:
terms = countvectorizer.fit_transform(train)
term_vectors = countvectorizer.transform(test)

In [23]:
# display the sparse matrix form of test data
term_vectors.todense()

matrix([[0, 1, 1, 1],
        [0, 1, 0, 2]])

In [13]:
# retrieve the terms found in the corpora
count_tokens = countvectorizer.get_feature_names_out()
tfidf_tokens = tfidfvectorizer.get_feature_names_out()

In [19]:
# create dataframe objects for neat display
df_countvect = pd.DataFrame(data = count_wm.toarray(), 
                            index = ['Doc1', 'Doc2'], 
                            columns=count_tokens)
df_tfidfvect = pd.DataFrame(data = tfidf_wm.toarray(),
                           index = ['Doc1', 'Doc2'],
                           columns=tfidf_tokens)

In [18]:
df_countvect

      blue  bright  sky  sun
Doc1     1       0    1    0
Doc2     0       1    0    1

In [20]:
df_tfidfvect

          blue    bright       sky       sun
Doc1  0.707107  0.000000  0.707107  0.000000
Doc2  0.000000  0.707107  0.000000  0.707107